body {
  background-color:white;
}
#bar {
  width: 270px;
  min-height: 20px;
}
.cell {
  width: 9%;
  border: solid #fff 1px;
  display: block;
  float: left;
  min-height: 10px;
  background-color: #ccc;
}
#c0.on {
  background-color: red;
}
#c1.on {
  background-color: #EE8262;
}
#c2.on {
  background-color: orange;
}
#c3.on {
  background-color: #C8F526;
}
#c4.on {
  background-color: green;
}
span#strength-text {
  float:left;
}
