body {
  background-color:white;
}

#password_field {
  width: 200px;
}
#progresscontainer {
  visibility: hidden;
  margin-top: 5px;
  width: 200px;
  border: 1px solid gray;
}
#progressbar {
      background-color: white;
      width: 200px;
    }
#progressbar > div {
   background-color: white; /* Adjust with JavaScript */
   width: 0%; /* Adjust with JavaScript */
   height: 5px;
   border-radius: 10px;
}
#strength-text {
  width: 200px;
  text-align:center;
}
